<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="th.ac.kku.cis.lab.pokedexmvvm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidPokedexWithMVVM">
        <activity
            android:name=".presentation.pokemon_autoload.PokemonAutoLoadActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.pokemon_list.PokemonListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.pokemon_paging.PokemonPagingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>